doctype html
html
  head
    title Tours and Tickets | #{tour}
    //- refer to app.js > app.use(express.static(path.join(__dirname, 'public')));
    link(rel='stylesheet' href='/css/style.css')
    link(rel='shortcut icon' type='image/png' href='/img/favicon.png')

  body
    h1= tour
    h2= user.toUpperCase()

    - const x = 9;
    h2= 2 * x

    p This is test text.
