doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      //- refer to app.js > app.use(express.static(path.join(__dirname, 'public')));
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      //- refer to app.js > app.get('/overview', (req, res) => {title: 'All tours',});});
      title Tours & Tickets | #{title}

  body
    // HEADER
    include _header

    // CONTENT
    block content
      h1 This is a placeholder heading.

    // FOOTER
    include _footer

    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js')
    script(src='/js/signup.js')
    script(src='/js/login.js')


